body{
  overflow-x: hidden;
}
.container{
  max-width: 1200px;
}
header{
  background: lightgray;
  display: flex;
  align-items: center;
}
header a{
  text-decoration: none;
  color: black;
}
.menu{
  margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style: none;
}
.menu li a{
  text-decoration: none;
  color: black;
}
.title_two{ 
  position: relative;
  left: 60px;
}
.title_third{
  position: relative;
  left: 217px;
}
.sub-menu{
   list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li a img{
  height: 68px;
  display: flex;
  align-items: center;
}
.sub-menu li a{
  text-decoration: none;
  color: black;
}
.price{
  font-weight: bold;
}
.close_button{
  font-weight: bold;
  color: gray!important;
}
.sub-menu li .add_button{
    background: black;
    color: white;
    padding: 13px;
    position: relative;
    left: -30px;
}
hr{
  background: black;
}
.red_name{
  color: red!important;
}