.widget_living_ideas{
  text-align: center;
  background: #F2F2F2;
  .living_ideas_title{
    .field--name-field-living-room-ideas-title{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
    color: #000000;
    }
  }
  .living_ideas_content{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 27px;
    .living_ideas_first_block{
      .living_ideas_img{
img{
  max-width: 878px;
  height: auto;
}
      }
    }
    .living_ideas_second_block{
      flex-wrap: nowrap;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 45px;
    .living_ideas_second_title{
          margin-bottom: 24px;
          margin-top: 14px;
          margin-left: 90px;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          color: #000000;
    }
    .living_idead_desription{
      margin-left: 90px;
      .field--name-field-living-ideas-description {
        p{
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          width: 80%;
          color: #000000;
          margin-bottom: 28px;
        }
      }
    }
    .living_ideas_list{
      margin-left: 109px;
      margin-bottom: 29px;
      ul{
        li{
          list-style: disc!important;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          margin-bottom: 9px;
          cursor: pointer;
          width: 56%;
          color: #000000;
          transition: 0.3s;
          &:hover{
            text-decoration: underline;
            cursor: pointer;
            transition: 0.3s;
          }
          li::marker{
            text-align: end;
            font-size: 27px;
          }
        }
      }
    }
    .living_ideas_link{
      margin-left: 90px;
      .field--name-field-living-ideas-link {
        a{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          text-align: center;
          color: #FFFFFF;
          background: #842C68;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          padding: 15px;
          padding-left: 30px;
          padding-right: 30px;
          transition: 0.3s;
          &:hover{
            transition: 0.3s;
            opacity: 0.8;
            }
        }
      }
    }
    }
  }
}
@media(max-width:1240px){
  .widget_living_ideas{
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media(max-width:1090px){
  .widget_living_ideas .living_ideas_content .living_ideas_second_block .living_ideas_list ul li {
    width: 70%;
}
}
@media(max-width:1028px){
  .widget_living_ideas{
.living_ideas_content{
    display: flex;
    flex-direction: column;
    .living_ideas_second_block{
      text-align: center;
      .living_idead_desription{
        .field--name-field-living-ideas-description{
          p{
            width: 100%;
          }
        }
      }
      .living_ideas_link{
        margin: 0 auto;
        padding-top: 25px;
        font-size: 20px;
      }
      .living_ideas_list{
        margin: 0 auto;
        ul{
          li{
            width: 100%;
          }
        }
      }
    }
}
  }
}
@media(max-width:666px){
  .widget_living_ideas{
   .living_ideas_content{
     .living_ideas_first_block{
       .living_ideas_img{
        .field--name-field-living-room-ideas-img{
          img{
            width: 100%;
          }
        }
       }
     }
   }
   .living_ideas_second_block{
     .living_ideas_second_title{
       margin-left: 0!important;
     }
     .living_idead_desription{
       margin: 0!important;
     }
   }
  }
}
@media(max-width:440px){
  .widget_living_ideas{
.living_ideas_title{
  .field--name-field-living-room-ideas-title {
    text-align: center;
    font-size: 40px;
  }
}
  }
}