.view-commerce-cart-form{
  .view-content{
    .views-form{
      form{
        margin: 0 auto;
        max-width: 1200px;
        border-bottom: 2px solid black;
        padding: 5px;
        .form-actions {
          input{
            background: black;
            color: white;
            font-family: 'Roboto';
            padding: 5px;
            transition: 0.3s;
            &:hover{
              transition: 0.3s;
              opacity: 0.7;
            }
          }
        }
        .views-view-table{
          th{
            border: solid 1px black;
            text-align: center;
            padding: 5px 10px;
          }
          tbody{
            tr{
              td{
                border: solid 1px black;
                text-align: center;
                padding: 5px 10px;
              }
              .views-field-purchased-entity{
                div{
                  .field--name-title {
                    margin-bottom: 13px;
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: #000000;
                  }
                  .field--name-price {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                    text-transform: capitalize;
                    color: #842C68;
                  }
                  .field--name-product-id{
                    a{
                      font-family: "Roboto";
                      font-style: normal;
                      font-weight: 500;
                      font-size: 20px;
                      line-height: 2;
                      text-transform: capitalize;
                      color: #000000;
                      transition: 0.3s;
                      &:hover{
                      transition: 0.3s;
                      text-decoration: underline;
                      }
                    }
                  }
                  .field--name-field-rating{
                    .starrating{
                      float: none;
                      margin: 0 auto;
                      display: flex;
                      justify-content: center;
                    }
                  }
                  .field--name-field-image {
                    img {
                      height: auto;
                      width: 90%;
                      margin: 5px;
                    }
                }
                  .field--name-field-image > img:not(:first-of-type) {
                    display: none;
                  }
                  .field--name-attribute-color{
                    display: none;
                  }
                  .field--name-field-image-to-card {
                    display: none;
                  }
                }
              }
              .views-field-unit-price__number{
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                    text-transform: capitalize;
                    color: #842C68;
              }
              .views-field-edit-quantity{
                .js-form-type-number{
                  border: 2px solid black;
                }
              }
              .views-field-remove-button{
                input{
                  background: black;
                  color: white;
                  font-family: 'Roboto';
                  padding: 5px;
                  transition: 0.3s;
                  &:hover{
                    transition: 0.3s;
                    opacity: 0.7;
                  }
                }
              }
              .views-field-total-price__number{
                font-family: "Roboto";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                    text-transform: capitalize;
                    color: #842C68;
              }
            }
          }
            .field--name-total-price{
                  font-size: 20px;
                  border-bottom: 2px solid black;
                  margin: 5px;
          }
        }
      }
    }
  }
}