.paragraph--type--nestle-test{
  // background: #F9F8F5;
  .nestle_test_content {
    // background: #F9F8F5;
    .cream-class{
      background-color: #F9F8F5;
    }
    .white-class{
      background-color: white;
    }
    .nestle-title{
      h3{
        font-family: "Roboto Slab"!important;
        padding: 34px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        text-align: center;  
        color: #3A3533;
      }
    }
    .nestle_items{
      display: flex;
      justify-content: space-around;
      margin: 0 90px 48px 90px;
      .nestle_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 31%;
        .nestle_item_image{
          div{
            img{
              margin-bottom: 30px;
            }
          }
        }
        .nestle_item_desription{
          div{
            p{
              text-align: center;
              margin: 0 auto;
              font-family: 'Roboto Slab';
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 26px;
              color: #3A3533;
            }
          }
        }
      }
    }
    .nestle-link{
      margin: 48px;
      .field--name-field-nestle-test-button{
        a{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 23px;
      width: 147px;
      height: 45px;
      background: #E81C24;
      border-radius: 4px;
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto;
      color: #FFFFFF;
      transition: 0.3s;
      &:hover{
        opacity: 0.7;
        transition: 0.3s;
      }
        }
      }
    }
    .nestle-subparagraph-content{
      .nestle-border{
        border-top: 1.25px dashed #C9C5B9;
        width: 730px;
        margin: 0 auto;
      }
      .field--name-field-nestle-test-sub{
        div{
          .field--name-field-nestle-test-subtitle {
            margin: 24px;
            p{
              font-family: 'Roboto Slab';
              font-style: normal;
              font-weight: 400;
              font-size: 25px;
              line-height: 35px;
              text-align: center;
              color: #3A3533;
            }
          }
          .field--name-field-nestle-test-sub-link {
            text-align: center;
            margin-top: 23px;
              padding-bottom: 53px;
            a{
              font-family: 'Roboto Slab';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              color: #3A3533;
              text-decoration: underline red;
            }
          }
        }
      }
    }
  }
}

@media(max-width:911px){
  .nestle_test_content{
    .nestle_items{
      flex-direction: column;
      .nestle_item{
        width: 100%!important;
        .nestle_item_desription{
          width: 50%;
          div{
            p{
              font-size: 16px!important;
            }
          }
        }
      }
    }
  }
   .nestle-subparagraph-content{
    .nestle-border{
      width: 345px!important;
    }
  }
}
@media(max-width:576px){
  .nestle_test_content{
    .nestle_items{
      .nestle_item{
        .nestle_item_image{
          div{
            img{
            width: 100px;
            height: 100px;
            }
          }
        }
      }
    }
  }
}
@media(max-width:546px){
  .nestle_test_content{
    .nestle_items{
      .nestle_item{
        .nestle_item_desription{
          width: 70%!important;
        }
      }
    }
  }
}
@media(max-width:444px){
  .nestle_test_content{
    .nestle_items{
      .nestle_item{
        .nestle_item_desription{
          width: 100%!important;
        }
      }
    }
  }
}
@media(max-width:346px){
  .nestle_test_content{
   .nestle-subparagraph-content{
    .nestle-border{
      width: 275px!important;
    }
  }
}
}